$bordes: #0669D7;
$fondo: #B1BFC9;
$texto: #00142D;

@font-face {
  font-family: "Object Sans";
  src: url(/FONT/ObjectSans-Regular.otf);
}

body{
  font-family: 'Object Sans', Regular;
}

header{
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: $texto;
  font-size: 50px;
  .imgTitulo{
    height: 80px;
    width: 80px;
    filter: invert(21%) sepia(100%) saturate(2449%) hue-rotate(201deg) brightness(99%) contrast(95%);
  }
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .flex-outer{
    max-width: 800px;
    margin: 0 auto;
    li{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;
      label{
        flex: 1 0;
        max-width: 220px;
      }
      input{
        padding: 10px;
      }
    }
  }
}

table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  thead{
    background: $fondo;
    th{
      font-size: 20px;
      color: $texto;
      text-align: center;
      padding: 0px 23px;
      border: 1px solid $bordes;
    }
  }
  tbody{
    font-size: 17px;
    td{
      border: 1px solid $bordes;
      padding: 3px 1px;
      button{
        background-color: red;
        border-radius: 15px;
        border: 1px solid black;
        cursor: pointer;
        font-family: 'Object Sans', Regular;
        font-size: 17px;
        display: block;
        margin: auto;
      }
    }
  }
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  button{
    background-color: #0669D7;
    border-radius: 42px;
    border: 1px solid $texto;
    cursor: pointer;
    color: white;
    font-family: 'Object Sans', Regular;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
  }
}
